<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
			<group id="clickcollect" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Click &amp; Collect</label>
				<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="sallowspecific" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ship to Applicable Countries</label>
					<frontend_class>shipping-applicable-country</frontend_class>
					<source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" translate="label" type="multiselect" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ship to Specific Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id="sallowspecific">1</field>
					</depends>
				</field>
				<field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title</label>
				</field>
				<field id="method_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Method Name</label>
				</field>
				<field id="heading" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Heading</label>
					<comment>This will be shown above the collection date selector</comment>
				</field>
				<field id="description" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Description</label>
					<comment>This text will appear below the heading</comment>
				</field>
				<field id="cutoff_time" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Cut-off Time</label>
					<source_model>CravenDunnill\ClickCollect\Model\Source\CutoffTime</source_model>
					<comment>Orders placed after this time will be available for next available collection date</comment>
				</field>
				<field id="holidays" translate="label" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Holidays and Warehouse Closures</label>
					<comment>Enter one date per line in YYYY-MM-DD format</comment>
				</field>
				<field id="warehouse_address" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Warehouse Address</label>
					<comment>Enter the full address of your warehouse/collection point</comment>
				</field>
				
				<!-- Days Settings -->
				<field id="monday_enabled" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Monday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="monday_opening" translate="label" type="time" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Monday Opening Time</label>
					<depends>
						<field id="monday_enabled">1</field>
					</depends>
				</field>
				<field id="monday_closing" translate="label" type="time" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Monday Closing Time</label>
					<depends>
						<field id="monday_enabled">1</field>
					</depends>
				</field>
				
				<field id="tuesday_enabled" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Tuesday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="tuesday_opening" translate="label" type="time" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Tuesday Opening Time</label>
					<depends>
						<field id="tuesday_enabled">1</field>
					</depends>
				</field>
				<field id="tuesday_closing" translate="label" type="time" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Tuesday Closing Time</label>
					<depends>
						<field id="tuesday_enabled">1</field>
					</depends>
				</field>
				
				<field id="wednesday_enabled" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Wednesday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="wednesday_opening" translate="label" type="time" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Wednesday Opening Time</label>
					<depends>
						<field id="wednesday_enabled">1</field>
					</depends>
				</field>
				<field id="wednesday_closing" translate="label" type="time" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Wednesday Closing Time</label>
					<depends>
						<field id="wednesday_enabled">1</field>
					</depends>
				</field>
				
				<field id="thursday_enabled" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Thursday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="thursday_opening" translate="label" type="time" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Thursday Opening Time</label>
					<depends>
						<field id="thursday_enabled">1</field>
					</depends>
				</field>
				<field id="thursday_closing" translate="label" type="time" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Thursday Closing Time</label>
					<depends>
						<field id="thursday_enabled">1</field>
					</depends>
				</field>
				
				<field id="friday_enabled" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Friday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="friday_opening" translate="label" type="time" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Friday Opening Time</label>
					<depends>
						<field id="friday_enabled">1</field>
					</depends>
				</field>
				<field id="friday_closing" translate="label" type="time" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Friday Closing Time</label>
					<depends>
						<field id="friday_enabled">1</field>
					</depends>
				</field>
				
				<field id="saturday_enabled" translate="label" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Saturday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="saturday_opening" translate="label" type="time" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Saturday Opening Time</label>
					<depends>
						<field id="saturday_enabled">1</field>
					</depends>
				</field>
				<field id="saturday_closing" translate="label" type="time" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Saturday Closing Time</label>
					<depends>
						<field id="saturday_enabled">1</field>
					</depends>
				</field>
				
				<field id="sunday_enabled" translate="label" type="select" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Sunday Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="sunday_opening" translate="label" type="time" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Sunday Opening Time</label>
					<depends>
						<field id="sunday_enabled">1</field>
					</depends>
				</field>
				<field id="sunday_closing" translate="label" type="time" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Sunday Closing Time</label>
					<depends>
						<field id="sunday_enabled">1</field>
					</depends>
				</field>
				
				<field id="sort_order" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Sort Order</label>
					<comment>Position of this shipping method relative to others during checkout</comment>
				</field>
				<field id="model" translate="label" type="hidden" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Model</label>
				</field>
				<field id="showmethod" translate="label" type="select" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Method if Not Applicable</label>
					<frontend_class>shipping-skip-hide</frontend_class>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="min_order_total" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Minimum Order Amount</label>
					<validate>validate-number validate-zero-or-greater</validate>
				</field>
				<field id="max_order_total" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Maximum Order Amount</label>
					<validate>validate-number validate-zero-or-greater</validate>
				</field>
			</group>
		</section>
	</system>
</config>