<!-- ko if: isClickCollectMethod() -->
<div id="click-collect-dates-container" class="click-collect-dates-container">
	<div class="step-title" data-role="title" data-bind="text: getHeading()"></div>
	<div class="click-collect-description" data-bind="text: getDescription()"></div>
	<div class="click-collect-dates-list">
		<div class="field required">
			<label class="label" for="click_collect_date"><span data-bind="i18n: 'Select Collection Date'"></span></label>
			<div class="control">
				<select name="click_collect_date" id="click_collect_date" class="required-entry" data-bind="
					options: availableDates,
					optionsText: 'label',
					optionsValue: 'value',
					value: selectedCollectionDate,
					optionsCaption: 'Please select a collection day'
				"></select>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->